body {
  background: #f5f6fa;
  font-family: "Nunito", "sans-serif";
}

body:focus {
  outline: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.jumbotron h5:hover {
  font-size: 1.5em;
}

div.jumbotron img:hover {
  box-shadow: 2px 2px 2px 2px #bebebe;

}

a {
  text-decoration: none;
  color: #84BEE4;
}

h5, h2 {
  font-family: "Nunito", "sans-serif";
  font-weight: bold;
}

input[type="text"] {
  font-family: "Nunito", "sans-serif";
  border-radius: 3px;
  border: 1px solid #84bee4;
  margin-right: 5px;
}

div header {
  text-align: center;
}

form {
  outline: none;
  resize: none;
  overflow: none;
  margin-top: 50px;
}

h4 {
  margin-top: 50px;
  margin-left: 60px;
  font-family: "Nunito", "sans-serif";
  font-weight: bold;
}
h6 {
  font-family: "Nunito", "sans-serif";
  font-weight: bolder;
}

h5,
h6,
img {
  cursor: pointer;
}

.btn-react {
  margin-top: 5px;
}

.hideClass {
  display: none;
  margin-bottom: 1em;
}

.btn {
  background-color: #84bee4;
  font-family: "Nunito", "sans-serif";
  color: white;
}

/* .items {
  display: flex;
  justify-content: space-around;
} */

.structure {
  margin-top: 50px;
  padding-left: 100px;
  flex-shrink: 3;
  width: 60%
}

img.logo {
  height: 50px;
}

.comments {
  padding: auto;
  margin: auto;
  height: 380px;
  overflow: auto;
}

#submit-btn {
  margin-bottom: 4px;
}

#footer-container{
  font-family: 'Nunito', 'sans-serif';
  margin-top: 40px;
}


#giphForm {
  margin-top: -43px;
}

#navbar {
  background-color: #cdd8e5;
}

#inputJournal {
  background-color: #f5f6fa;
  margin-bottom: 5px;
  font-family: "Nunito", "sans-serif";
  width: 100%;
}

#btn {
  width: 50%;
}

#giphList {
  margin-bottom: 20px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

#container {
  /* text-align: center; */
  margin-top: 50px;
  border: 1px solid lightgray;
  border-radius: 3px;
  width: 350px;
  height: 380px;
  overflow: auto;
}

#dateTime {
  margin-top: -5px;
  font-family: "Nunito", "sans-serif";
  color: gray;
}


#inputComment {
  font-family: "Nunito", "sans-serif";
}

#commentButton {
  margin-top: 5px;
}

#charcount {
  margin-bottom: 5px;
  font-family: "Nunito", "sans-serif";
}

@media only screen and (max-width: 950px) {
  div.d-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #formArea {
    width: 80%;
    display: center;
  }
  .jumbotron {
    margin-bottom: 10px;
  }
  #container {
    width: 80%;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  img#giphId {
    width: 100%;
    height: auto;
  }
  .logo {
    content: url(./images/clouds3.png)
  }
}