body {
  background: #f5f6fa;
}

li {
  font-family: "Nunito", "sans-serif";
}

input[type="text"] {
  font-family: "Nunito", "sans-serif";
  border-radius: 3px;
  border: 1px solid #84bee4;
  margin-right: 5px;
}

#giphForm {
  margin-top: -40px;
}

h5 {
  font-family: "Nunito", "sans-serif";
  font-weight: bold;
}

h2 {
  font-family: "Nunito", "sans-serif";
  font-weight: bold;
}

p {
  font-family: "Nunito", "sans-serif";
}

#navbar {
  background-color: #cdd8e5;
}

/* li a {
  color: #004D98 !important; 
} */

#inputJournal {
  background-color: #f5f6fa;
  margin-bottom: 5px;
  font-family: "Nunito", "sans-serif";
  width: 100%;
}

.hideClass {
  margin-bottom: 1em;
}
.btn {
  background-color: #84bee4;
  font-family: "Nunito", "sans-serif";
}

#btn {
  width: 50%;
}

.items {
  display: flex;
  justify-content: space-around;
}

img.logo {
  height: 50px;
}

div header {
  text-align: center;
}

form {
  outline: none;
  resize: none;
  overflow: none;
  /* margin-left: 30px; */
  margin-top: 50px;
}

#giphList {
  margin-bottom: 20px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

#container {
  /* text-align: center; */
  margin-top: 50px;
  border: 1px solid lightgray;
  border-radius: 3px;
  width: 350px;
  height: 380px;
  overflow: auto;
}

.structure {
  margin-top: 50px;
  padding-left: 100px;
  flex-shrink: 3;
}

h4 {
  margin-top: 50px;
  margin-left: 60px;
  font-family: "Nunito", "sans-serif";
  font-weight: bold;
}
h6 {
  font-family: "Nunito", "sans-serif";
  font-weight: bolder;
}
#dateTime {
  margin-top: -5px;
  font-family: "Nunito", "sans-serif";
  color: gray;
}

.hideClass {
  display: none;
}

h5,
h6,
img {
  cursor: pointer;
}

/* .commentsTable {
  border: 1px solid lightgray;
  border-radius: 3px;
} */

#inputComment {
  font-family: "Nunito", "sans-serif";
}

.comments {
  /* width: 40%; */
  /* padding-left: 50px; */
  padding: auto;
  margin: auto;
  height: 380px;
  overflow: auto;
}

#commentButton {
  margin-top: 5px;
}

@media only screen and (max-width: 950px) {
  div.d-flex {
    display: flex;
    flex-direction: column;
  }
  #formArea {
    width: 80%;
    display: center;
  }
  .jumbotron {
    margin-bottom: 10px;
  }
  #container {
    width: 80%;
  }
}
